/* style.css for making specific style changes */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}

h1,
h2,
h4 {
	font-family: 'Lato', sans-serif;
	color: #747704;
	}

h1 {
	font-weight: 100;
	}

h3 {
	font-family: 'Lato', sans-serif;
	color: #BCBBBB;
	font-weight: 300;
	}

/* for the round button in left side of header, adapted from http://codeitdown.com/css-round-buttons/ */
.round-button {
    display:block;
    width:100px;
    height:100px;
    line-height:100px;
    border: 2px solid #f8981c;
    border-radius: 50%;
    color:#f8981c;
    text-align:center;
    font-family: 'Droid Serif', serif;
	font-size:36px;
	letter-spacing: 5px;
    }
	.img-responsive{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 450px;
		width: 100%;
		color: #fff;
		position: relative;
		border-radius: 8px;
	}

/* TODO: not toally sure of the color here, will come back and play around with it */
.footer {
  padding: 15px 0;
  margin: 25px 0;
  text-align: center;
  background-color: rgba(116,119,4, 0.6);
}

/* this section for the socialbar icons from http://perfecticons.com/, currently have twitter, g+ and linked in, can do more */
@font-face {
    font-family: 'si';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -o-box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 35px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #bcbbbb;
}

.soc-icon-last {
    margin:0 !important;
}

.soc-twitter:before {
    content:'a';
}

.soc-google:before {
    content:'c';
}

.soc-linkedin:before {
    content:'j';
}
